<template>
  <div>
    <button @click="acelerar">+</button>
    <!-- <span v-text="aceleracion"></span> -->
  </div>
</template>

<script>
export default {
  props: ['acelere'],
  data() {
    return {
      aceleracion: this.acelere,
    }
  },
  methods:{
    acelerar(){
      this.$emit('acelerar',this.aceleracion);
    }
  }
}
</script>
