<template>
  <div>
    <button @click="frenar">-</button>
  </div>
</template>

<script>
export default {
  props: ['frene'],
  data() {
    return {
      frenazo: this.frene,
    }
  },
  methods: {
    frenar() {
      this.$emit('frenar', this.frenazo);
    }
  }

}
</script>
