<template>
  <h4>{{velocidad}} km/h</h4>
</template>

<script>
export default {
  props:{
    velocidadInicial:{
      type: Number,
      required:true
    }
  },
  computed:{
    velocidad(){
      return this.velocidadInicial;
    }
  }
}
</script>
