<template>
  <div id="app">
    <h1>VELOCIMETRO CON PROPS DE PADRE A HIJO</h1>
    <Velocimetro :velocidadInicial="vi"></Velocimetro>
    <Acelerometro :acelere="10" @acelerar="acelerar"></Acelerometro>
    <Freno :frene="10" @frenar="frenar"></Freno>
   </div>
</template>

<script>
import Acelerometro from './components/Acelerometro';
import Velocimetro from './components/Velocimetro';
import Freno from './components/Freno';

export default {
  components: {
    Acelerometro, Velocimetro, Freno
  },
  data () {
    return {
      vi:0
    }
  },
  methods:{
    acelerar(ace) {
      this.vi += ace;
    },
     frenar(fre) {
      this.vi -= fre;
    },
 }
}
</script>

<style>

</style>
